{% extends "base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Manager !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
        <div class="container">
          <h3>Previous rules here</h3>
        </div>

        <div class="container">
          <input type="button" name = "add_rule"
          onclick="location.href = '{% url 'camp:add_rule' %}'"
          value="Add Rule" />
        </div>
    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
