{% extends "base.html" %}
{% block body_block %}
<div class="container">
  <div class="jumbotron">
    <h1>Welcome to the Manager !</h1>
    {% if user.is_authenticated %}
        <h2>Hello {{ user.username }}</h2>
        <div class="container">
          <h3>Previous rules here</h3>
        </div>

        <div class="container">
          <input type="button" value="Add Rule" />
        </div>
        <form>
  <div class="form-group">
    <label for="camp_name">Campaign Name</label>
    <input type="text" class="form-control" id="camp_name" placeholder="Enter Campaign Name">
  </div>
  <div class="form-group">
    <label for="eCPM">eCPM</label>
    <input type="number" class="form-control" id="eCPM" placeholder="0.0">
  </div>
  <div class="form-group">
    <label for="impressions">Impressions</label>
    <input type="number" class="form-control" id="impressions" placeholder="0.0">
  </div>
  <div class="form-group">
    <label for="spend">Spend</label>
    <input type="number" class="form-control" id="spend" placeholder="0.0">
  </div>
  <div class="form-group">
    <label for="eCPC">eCPC</label>
    <input type="number" class="form-control" id="eCPC" placeholder="0.0">
  </div>
  <div class="form-group">
    <label for="clicks">Clicks</label>
    <input type="number" class="form-control" id="clicks" placeholder="0.0">
  </div>
  <div class="form-group">
    <label for="installs">installs</label>
    <input type="number" class="form-control" id="installs" placeholder="0.0">
  </div>
  <div class="form-group">
    <label for="eCPI">eCPI</label>
    <input type="number" class="form-control" id="eCPI" placeholder="0.0">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



    {% else %}
        <h2>Register or Login if you'd like to</h2>
    {% endif %}
  </div>
</div>
{% endblock %}
